.marquee {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
}

.headline-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 1rem 0;
}

.headline {
  // width: 42.5%;
  max-width: 612px;
  font-size: calc(28px + (76 - 28) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.2px;
}

.subhead {
  // width: 25%;
  width: 360px;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  margin-left: 1.5rem;
}

.cta-container {
  height: 12.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
  
  .cta-content {
    padding-left: 1rem;
  }

  a {
    padding-left: 1rem;
  }

  a:visited {
    color: #000000;
  }
  span {
    color: #ffc001;
  }
}

.lets-talk {
  width: 19rem;
  text-transform: uppercase;
}